{% extends "::layout.html.twig" %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/css/sb-admin-2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/css/font-awesome.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/css/style.css') }}" />

{% block title %}  
    
    FTW - 

{% endblock %}

{% endblock %}

        
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path('bootstrap_theme_homepage') }}">
                        <h1>Feel the wave</h1>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="input-group custom-search-form margtb">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default searchbtn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                {% block connexion %}
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <div class="col-md-2 username"><p>  Bienvenu(e) <b>{{ app.user.username }}</b></p>
                           <a class="account" href="{{ path('static', {'page': 'compte'}) }}">Mon compte</a></div>
                        <div class="col-md-1">
                        <a href="{{ path("fos_user_security_logout") }}" class="btn btn-outline btn-primary logout">Se déconnecter</a>
                    </div>
                    {%endif%}
                    
                    {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                    <div class="margtb">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <a href="{{ path('static', {'page': 'register'}) }}" class="btn btn-outline btn-primary">S'inscrire</a>
                    </div>
                    <div class="col-md-1">
                        <a href="{{ path ("fos_user_security_login") }}" class="btn btn-outline btn-primary">Connexion</a>
                    </div>
                </div>
                    {%endif%}
                {% endblock %}
                
            </div>
        </div>
                </header>

{% endblock %}
