{% extends "BootstrapThemeBundle::layout.html.twig" %}
{% set page_title = 'Compte' %}

{% block title %}

    {{ parent()}}{{ page_title }}

{% endblock %}

{% block body %}
    
   <section>
        <div class="font">
            <div class="row">
                <div class="col-md-12"><br/></div>
            </div>
            <h2>Compte</h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-lg-10">
                    <div class="panel panel-default borderblue">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#info" data-toggle="tab">Information</a>
                                </li>
                                <li><a href="#history" data-toggle="tab">Historique</a>
                                </li>
                                
                                {% block modifier %}
                                        
                                {% endblock %}
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="info">
                                    <h4 class="border2">Pseudo</h4>
                                    <div class="account-title margtb2">
                                        <div class="account-title margtb2">{{ app.user.username }}</div>
                                    </div>
                                    
                                    <div class="row margtb"></div>
                                    <h4 class="border2">Image</h4>
                                    <div class="account-title margtb2">
                                        <img class="avatar-size" src="../Resources/public/images/avatars/{{ app.user.images }}" alt="avatar"/>
                                        {{ include("BootstrapThemeBundle:Default:formImage.html.twig") }}
                                        <div class="account-title margtb2"></div>
                                    </div>
                                    
                                    <div class="row margtb"></div>
                                    <h4 class="border2">Mot de passe</h4>
                                    <div class="account-title margtb2">
                                        <a href="{{ path("fos_user_change_password") }}" class="btn btn-outline btn-primary logout">Changer</a>
                                        <div class="account-title margtb2"></div>
                                    </div>
                                </div>
                                        
                                <div class="tab-pane fade" id="history">
                                    <h4 class="border2">Historique</h4>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                    
                {% for post in postPages %}
                    <div class="col-md-12">
                        <div class="panel panel-default border-panel">
                            <div class="panel-heading">
                                {{ post.topics.name }}
                            </div>
                            <div class="panel-body">

                                <div class="col-md-2">
                                    <img class="avatar-size" src="../{{ post.usernames.images }}" alt="avatar">
                                    <p class="pseudo">{{ post.usernames }}</p>
                                </div>
                                <div class="col-md-8 border">
                                    <p>{{ post.message }}</p>
                                    <a href="{{ post.url }}">{{ post.url }}</a>
                                    <p>{{ post.embed | raw }}</p>
                                </div>
                        </div>
                                
                    </div>
                    <div class="col-md-1"></div>
                </div>  
                
                {% endfor %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
        </div>
        <div class="row"></div>

    </section>

    {% block scripts %}
        <script src="../Resources/public/vendor/jquery/jquery.min.js"></script>
        <script src="../Resources/public/vendor/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
    
{% endblock %}