{% extends "BootstrapThemeBundle::layout.html.twig" %}
{% set page_title = 'Recherche' %}


{% block title %}

    {{ parent()}}{{ page_title }}

{% endblock %}

{% block body %}

    <div class="font">
            <div class="row">
                <div class="col-md-12"><br/></div>
            </div>

            <h2>Recherche</h2>

            <div class="col-md-1"></div>
            <div class="container col-md-10">
                <ul class="breadcrumb">
                    <li><a href="{{ path('bootstrap_theme_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('static', {'page': 'categories'}) }}">Catégories</a></li>
                </ul>
                
            </div>

            <div class="col-md-1 btnfloat"></div>
            <div class="row"></div>
            <div class="col-md-1"></div>
            <div class="container col-md-10">
                {% for post in postPages %}
                    <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ post.topics.name }}
                            </div>
                            <div class="panel-body">

                                <div class="col-md-2">
                                    <img class="avatar-size" src="../Resources/public/images/avatars/{{ post.usernames.images }}" alt="avatar">
                                    <p class="pseudo">{{ post.usernames }}</p>
                                    <p class="date">{{ post.date|date('d-m-Y H:m') }}</p>
                                </div>
                                <div class="col-md-10 border">
                                    <p>{{ post.message }}</p>
                                    <a href='{{ post.url }}'>{{ post.url }}</a>
                                    <div class="visible">{{ post.embed | raw }}</div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-1">
                                        <a href="#" class="flag">
                                <i class="fa fa-flag"></i>
                                <span><br/>Signaler</span>
                                </a>
                                    </div>

                                    <div class="col-md-9"></div>

                                    <div class="col-md-1">
                                        <a href="#" class="flag">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="like"><br/>5</span>
                                </a>
                                    </div>

                                    <div class="col-md-1">
                                        <a href="#" class="flag">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                                <span class="like"><br/>0</span>
                                </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                {% endfor %}
            <div class="row">
                
                <div class="col-md-1"></div>
            <div class="container col-md-10">
                
                <div class="text-center">{{ knp_pagination_render(postPages) }}</div>
                
                </div>
                </div>
            <div class="row"></div>
        </div>
       
    
{% endblock %}